* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav {}

.navChild {}

.register {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.registerForm > input {
  margin: 5px;
  height: 2rem;
}

.registerForm > button {
  background-color: rgb(85, 140, 196);
  height: 2rem;
}

.login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.loginForm > input {
  margin: 5px;
  height: 2rem;
}

.loginForm > button {
  background-color: rgb(85, 140, 196);
  height: 2rem;
}

.submitBlog {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitBlogForm{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  outline: 2px solid pink;
}