@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #efefefe4;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navWrapper {
  width:100%
}

.nav {
  height: 6vh;
  position: fixed;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 5vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.591);
}

.navBurger {
  display: none;
}

.navChild {
  margin-right: auto;
  text-decoration: none;
  list-style: none;
  text-decoration: none;

}

.navChild>a {
  list-style: none;
  text-decoration: none;
  color: #faa907;
  font-weight: 700;
  font-size: 1.5rem;
}

.navUserEmail {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #faa907;


}

@media only screen and (max-width: 800px) {
  .navBurger {
    display: block;
    margin-left: 1rem;
    margin-top: 1rem;
  }  
  .nav {
    align-self: self-start;
    flex-direction: column;
    align-items: start;
    width:50%;
    height: auto;
    position: fixed;
    padding-left: 1rem;
    
  }

  .show {
    
  }

  .hide {
    visibility: hidden;
  }

  
  .navChild {
  
  }
  

  
  .navUserEmail {
    align-self: self-start;
  }
}

.home {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./assets/home_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.homeHeading {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #F5AE23;
}

.homeBackground {
  object-fit: cover;
  object-position: center;
  width: 50%;
}

.register {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.registerForm>input {
  border: 1px solid gold;
  width: 20rem;
  height: 3rem;
  margin-top: 1rem;
}

.registerForm>button {
  margin-top: 1rem;
  border: 1px solid gold;
  height: 3rem;
}

.login {
  min-height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content: center;
  align-items: center;
}

.loginForm>input {
  border: 1px solid gold;
  margin: 5px;
  height: 3rem;
  min-width: 50%;
}

.loginForm>button {
  height: 2rem;
  width: 12rem;
  border: 1px solid gold;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.loginRegisterButton {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gold;
  width: 12rem;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  text-align: center;
}

.submitBlog {
  min-height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitBlogForm {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: cente;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

*:focus {
  outline: none;
}

.blogTitle {
  border: none;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: 1px solid gold;
}

.blogBody {
  border: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 1px solid gold;
}

.blogFile {
  display: none;
}
.blogFileButton {
  margin-top: 1rem;
  padding: 5px;
  width: 12rem;
  height: 3rem;
  text-align: center;
  border: 1px solid gold;
}

.blogButton {
  border: 1px solid gold;
  padding: 5px;
  width: 12rem;
  height: 3rem;
  margin: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
}

.post {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.postHeading {
  margin: 1rem;
}

.postBody {
  margin: 1rem;
}

.postImage {
  object-fit: cover;
  object-position: center;
  width: 50%;

}